@import 'reset';

// 因为1rem = fontSize px
// 所以1px = (1 / fontSize) rem
$fontSize: 37.5;
@function px2rem($px) {
  @return ($px /$fontSize) + rem;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #333;
  font-size: px2rem(20);
}

// 菜单栏移入移出过渡动画
.slideDown-enter, .slideDown-leave-to {
  transform: translate3d(0, -100%, 0);
}
.slideUp-enter, .slideUp-leave-to {
  transform: translate3d(0, px2rem(108), 0);
}
.slideDown-enter-to, .slideDown-leave,.slideUp-enter-to,.slideUp-leave{
  transform: translate3d(0, 0, 0);
}
.slideDown-enter-active, .slideDown-leave-active, .slideUp-enter-active, .slideUp-leave-active {
  transition: all .3s linear;
}